*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: rgb(0, 153, 255);
    background-image: url(../img/pattern.png);
    background-size: 400px;
}

#logo{
    width: 200px;
    margin-top: 50px;
}

#title{
    font-size: 45px;
    margin-top: 10px;
}

.text-intestazione{
    font-size: 20px;
}

#text-left{
    color: gray;
}

#text-right{
    color: rgb(0, 204, 255);
}

#text-datum{
    font-size: 15px;
    color: gray;
    margin-top: 5px;
}

.container-foto{
    margin-top: 20px;
}

#didascalia{
    font-size: 15px;
}

#lorem-top{
    margin: 20px 0;
}

.text-lorem{
    font-size: 20px;
}

.yellow-text{
    background-color: yellow;
}

#lorem-list{
    margin-left: 20px;
}

.row-left{
    display: inline-block;
    width: 30%;


}

.row-center{
    display: inline-block;
    width: 30%;


}

.row-right{
    display: inline-block;
    width: 38%;
    

}

.row-1{
    background-color: rgb(0, 170, 255);
    color: white;
}

.row-2{
    color: black;
    background-color: #6ae4ff;
    padding: 10px 0;
}

.row-3{
    color: black;
    background-color: #ffffff;
    padding: 10px 0;
}

.table{
    margin: 30px 3px;
}

#text-footer{
    font-size: 20px;
    color: gray;
}

.footer-image{
    width: 250px;
    height: 200px;
    margin-left: 3px;
    margin-top: 15px;

}

#image-bot-1{
    background-image: url(../img/monitor.jpg);
    background-size: cover;
}

#image-bot-2{
    background-image: url(../img/graph.jpg);
    background-size: cover;
    margin-bottom: 20px;
}

.footer-lorem{
    color: white;
    font-size: 25px;
    padding: 15px 20px 0 15px;
}